.Modal {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: .5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 15%;
    transition: all .3s ease-out;
    width: 70%;
    z-index: 999;
}

@media (min-width: 768px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
